name: Build-X-Miner-Exe
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure CMake
        run: cmake -S . -B build
      - name: Build
        run: cmake --build build --config Release
      - name: Upload Exe
        uses: actions/upload-artifact@v3
        with:
          name: X-Miner-Release
          path: build/Release/*.exe
